html{
    font-size: 50px;
}

/*header组件*/
#mobileheader{
    flex: 1;/*使得内部子元素 的宽度一样， 忽略内部的内容*/
    background: #f6f6f6;
}
#mobileheader header{
    border-bottom: 1px solid #2db7f5;
    padding-left: 10px;
    position: relative;
}
#mobileheader header img{
    height: 50px;
}
#mobileheader header span{
    font-size: 35px;
    vertical-align: top;
    padding-left: 5px;
    color: #2db7f5;
}
/*个人中心按钮*/
.i1{
    font-size: 0.5rem;
    position: absolute;
    top:15px;
    right:45px;
    color:#2db7f5;
}
/*退出按钮*/
.i2{
    font-size: 0.5rem;
    position: absolute;
    top:15px;
    right:10px;
    color:#2db7f5;
}
#mobileheader ul li{
    font-size: 30px;
}
#mobileheader .slick-list img{
    height: 220px;
    width:100%;
}

/*news_block组件*/
.m_article{font-size:14px;padding:.2rem 0;border-bottom:1px solid #e5e5e5;margin:0 .3rem}
.m_article .m_article_img{float:left;width:27%;height:1.4rem;overflow:hidden;position:relative;margin-right:.2rem}
.m_article .m_article_img img{width:100%;display:block;min-height:1.4rem}
.m_article .m_article_desc .m_article_channel{display:inline-block;color:rgba(255,51,51,0.9);font-size:12px;padding:2px;line-height:12px;margin-right:.1rem;background:url(http://img2.cache.netease.com/f2e/wap/common/images/border_red.png) no-repeat;background-size:100% 100%}
.m_article .m_article_desc .m_article_time{font-size:.24rem;color:#888;display:inline-block}
.m_article .m_article_desc .m_article_desc_l{float:left}
.m_article .m_article_info{overflow:hidden;padding-bottom:4px}
.m_article .m_article_info .m_article_title{text-align: left;font-size:.34rem;margin-bottom:.2rem;color:#404040;line-height:.42rem;width:100%;display:-webkit-box;-webkit-line-clamp:2;overflow:hidden;-webkit-line-break:auto;-webkit-box-orient:vertical}

/*news_detail组件*/
#mobileDetailsContainer .title,.article-title .title {
    font-size: 0.44rem !important;
    line-height: 1.4em
}
#mobileDetailsContainer .article-src-time {
    font-size: 0.3rem !important;
}
#mobileDetailsContainer .article-content .txt {
    font-size: 0.36rem;
}
#mobileDetailsContainer .ant-row{
    margin-top: 20px;
}